<!DOCTYPE html>
<html>

  <head>
    <title>Embellishments</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,500,600,700,900|Lora:400,700|Heebo:900|Inconsolata&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>[v-cloak] { display: none; }</style>
  </head>

  <body>

    <div id="news-template" v-cloak>
      
      <!-- Main Story-->
      <div id="left"> 

        <div id="date-box"><span id="date"> {{ story.date }} </span></div>
        <h1>{{ story.title }}</h1>
        <h2 class="subtitle">{{ story.subtitle }}</h2>
        <p id="article-details">By John Smith · <a class="articlesource" v-bind:href="story.source.url">{{ story.source.name }}</a></p>

        

        <img v-bind:src="story.image.url">
        <span id="caption">{{ story.image.caption }}</span>
        
        <hr>



        <span class="teaser" v-html="story.teaser"></span>
        <span class="articleContent" v-html="story.content"></span>
        <p id="tag-box"><span id="tagList">TAGS</span><span id="tag" v-for="tag in story.tags">{{ tag }}</span></p>

        <ul id="social-media-links">
          <li><img id="fb" class="social-media-svg" src="facebook.svg"></li>
          <li><img id="tw" class="social-media-svg" src="twitter.svg"></li>
          <li><img id="ln" class="social-media-svg" src="linkedin.svg"></li>
        </ul>

      </div>


      <div id="right">

        <!-- Related Stories-->
        <br>
        <h3 class="relatedStoryHeader">Recommended</h3>
        <hr>
      
        <ul id="relatedStoryContainer">
          <li class="relatedStoryBox" v-for="relatedStory in relatedStories">
            <div v-on:click="load(relatedStory)">
              <h4 class="relatedStoryTitle">{{ relatedStory.title }}</h4>
              <!-- <img class="relatedStoryImage" v-bind:src="relatedStory.image.url"> -->
            </div>
          </li>
        </ul>

      </div>
    
    </div>

    <!-- Scripts here are what load the Vue library, and the actual story content. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>
  
  </body>
</html>
